<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista donaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Comuna</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr id="fila1">
            <td>Santiago</td>
            <td>Fruta</td>
            <td>10</td>
            <td>2023-04-16</td>
            <td>Ignacio</td>
            <td><img src="/imagenes/frutos-kiwi-bolsa-malla-sobre-fondo-madera-vista-superior-estilo-rustico.jpg" alt="Foto de Ignacio" width="120" height="120"></td>
          </tr>
          <tr id="fila2">
            <td>Curanilahue</td>
            <td>Verdura</td>
            <td>5</td>
            <td>2023-04-15</td>
            <td>Daniela</td>
            <td><img src="/imagenes/manojo-zanahoria-fresca-sobre-superficie-marmol.jpg" alt="Foto de Daniela" width="120" height="120"></td>
          </tr>
          <tr id="fila3">
            <td>Paihuano</td>
            <td>Fruta</td>
            <td>5</td>
            <td>2023-04-14</td>
            <td>Diego</td>
            <td><img src="/imagenes/bolsa-manzanas.jpg" alt="Foto de Diego" width="120" height="120"></td>
          </tr>
          <tr id="fila4">
            <td>Los Lagos</td>
            <td>Verdura</td>
            <td>5</td>
            <td>2023-04-21</td>
            <td>Camila</td>
            <td><img src="/imagenes/bolsa-papas-mesa.jpg" alt="Foto de Camilac" width="120" height="120"></td>
          </tr>
          <tr id="fila5">
            <td>Tiltil</td>
            <td>Otro</td>
            <td>5</td>
            <td>2023-04-16</td>
            <td>María</td>
            <td><img src="/imagenes/vista-superior-nueces-saco-vertical-madera.jpg" alt="Foto de María" width="120" height="120"></td>
          </tr>
        </tbody>
    </table>
    <a href="inicio.html" class="btn btn-outline-success btn-lg btn-inicio">Volver al inicio</a>
    <script src="/javascript/click-filas-donacion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>