{% extends "base.html" %}
{% block title %}Agregar Donación{% endblock %}
{% block content %}
    <div class="main-container">
        <div id="val-box" class="alert-danger" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        <form class="form-group" name="agregar-donacion-form" id="agregar-donacion-form" method="post" enctype="multipart/form-data" action="{{ url_for('agregar_donacion') }}>
            <label for="region">Región</label>
            <select id="region" name="region" class="form-select" required>
                <option selected disabled value="">Selecciona una región</option>
            </select>

            <label for="comuna">Comuna</label>
            <select id="comuna" name="comuna" class="form-select" required>
                <option selected disabled value="">Selecciona una comuna</option>
            </select>

            <label for="direccion">Calle y número</label>
            <input type="text" name="direccion" id="direccion" size="80" required><br>

            <label>Tipo de donación</label>
            <select name="tipo" class="form-select" aria-label="Default select example" required>
                <option selected disabled value="">Selecciona tipo de donación</option>
                <option value="fruta">Fruta</option>
                <option value="verdura">Verdura</option>
                <option value="otro">Otro</option>
            </select>

            <label for="cantidad">Cantidad</label>
            <input type="text" name="cantidad" id="cantidad" size="10" required><br>

            <label for="fecha-disponibilidad">Fecha disponibilidad</label>
            <input type="date" name="fecha-disponibilidad" id="fecha-disponibilidad" size="10" required ><br>

            <label for="descripcion">Descripción</label>
            <input type="text" name="descripcion" id="descripcion" size="80"><br>
        
            <label for="condiciones">Condiciones para retirar</label>
            <input type="text" name="condiciones" id="condiciones" size="80"><br>

            <label for="nombre">Nombre donante</label>
            <input type="text" name="nombre" id="nombre" size="80" minlength="3" maxlength="80" required><br>

            <label for="email">Email contacto</label>
            <input type="email" name="email" id="email" size="30" required><br>

            <label for="celular">Celular contacto</label>
            <input type="text" name="celular" id="celular" size="15"><br>
            
            <div class="form-group" id="primeraFoto">
                <label for="foto1">Foto donación</label>
                <input type="file" name="foto1" id="foto1" accept="image/*,.pdf" required onchange="mostrarSegundaFoto()"><br>
            </div>
            
            <div class="form-group" id="segundaFoto" hidden>
                <label for="foto2">Foto donación</label>
                <input type="file" name="foto2" id="foto2" accept="image/*,.pdf" onchange="mostrarTerceraFoto()"><br>    
            </div> 

            <div class="form-group" id="terceraFoto" hidden>
                <label for="foto3">Foto donación</label>
                <input type="file" name="foto3" id="files" accept="image/*,.pdf"><br>    
            </div>
            
            <button class="btn btn-success" id="submit-btn" type="submit">Agregar donación</button>
        </form>
        
    </div>
    {% endblock %}
    {% block scripts%}
    <script lang="javascript" src="{{ url_for('static', filename='javascript/regiones-y-comunas.js') }}"></script>
    <script lang="javascript" src="{{ url_for('static', filename='javascript/validaciones/validateDate.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script lang="javascript" src="{{ url_for('static', filename='javascript/mostrar-form-foto.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock %}