{% extends "base.html" %}
{% block title %}Información Donación{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="elem">
        <label class="text-success"><strong>Región:</strong></label>
        <label>Región Metropolitana</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Comuna:</strong></label>
        <label>Santiago</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Calle y número:</strong></label>
        <label>Beauchef 851</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Tipo:</strong></label>
        <label>Fruta</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Cantidad:</strong></label>
        <label>10</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Fecha disponibilidad:</strong></label>
        <label>2023-04-16</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Descripción:</strong></label>
        <label>10 Manzanas verdes</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Condición para retirar:</strong></label>
        <label>Retirar en domicilio</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Nombre donante:</strong></label>
        <label>Ignacio</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Email:</strong></label>
        <label>ignacio.m@gmail.com</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Celular:</strong></label>
        <label>912345678</label><br>
    </div>
    <div class="elem">
        <label class="text-success"><strong>Fotos:</strong></label><br>
        <label><img src="/imagenes/frutos-kiwi-bolsa-malla-sobre-fondo-madera-vista-superior-estilo-rustico.jpg" alt="Foto de Ignacio" width="640" height="480" onclick="agrandarImagen(this)"></label><br>
    </div>
    <a href="{{ url_for('inicio')}}" class="btn btn-outline-success btn-lg btn-inicio">Volver al inicio</a>
{% endblock %}
{% block scripts %}
    <script src="/javascript/agrandar.js"></script>
{% endblock %}