{% extends "base.html" %}
{% block title %}Información del pedido{% endblock %}
{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Región</th>
            <th>Comuna</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Nombre solicitante</th>
            <th>Email solicitante</th>
            <th>Celular solicitante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Región Metropolitana</td>
            <td>La Florida</td>
            <td>Frutas</td>
            <td>Manzanas verdes</td>
            <td>5</td>
            <td>Juan Martínez</td>
            <td>juan.martinez@gmail.com</td>
            <td>912345678</td>
          </tr>
        </tbody>
    </table>
    <a href="{{ url_for('inicio')}}" class="btn btn-outline-success btn-lg btn-inicio">Volver al inicio</a>
{% endblock %}
{% block scripts %}
<script lang="javascript" src="{{ url_for('static', filename='/javascript/agrandar.js')}}"></script>
{% endblock %}