{% extends "base.html" %}
{% block title %}Pedidos{% endblock %}
{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Comuna</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Nombre solicitante</th>
          </tr>
        </thead>
        <tbody>
          <tr id="fila1">
            <td>La Florida</td>
            <td>Frutas</td>
            <td>Manzanas verdes</td>
            <td>5</td>
            <td>Juan Martínez</td>
          </tr>
          <tr id="fila2">
            <td>Rancagua</td>
            <td>Verduras</td>
            <td>Zanahorias y/o papas</td>
            <td>1kg de cada uno</td>
            <td>Camila Fernández</td>
          </tr>
          <tr id="fila3">
            <td>Frutillar</td>
            <td>Verduras</td>
            <td>Hojas verdes, puede ser lechuga, espinaca, acelga, berros, rúcula, cualquiera de ese estilo.</td>
            <td>1 bolsa mediana aprox.</td>
            <td>Valentina González</td>
          </tr>
          <tr id="fila4">
            <td>La Serena</td>
            <td>Otro</td>
            <td>Legumbres</td>
            <td>Recibo cualquier legumbre, porotos, lentejas, garbanzos, cualquiera me sirve.</td>
            <td>Diego Torres</td>
          </tr>
          <tr id="fila5">
            <td>Puyehue</td>
            <td>Frutas</td>
            <td>Frutos rojos</td>
            <td>1/2 kg o más</td>
            <td>Isabella Gómez</td>
          </tr>
        </tbody>
      </table>
      <a href="{{ url_for('inicio')}}" class="btn btn-outline-success btn-lg btn-inicio">Volver al inicio</a>
{% endblock %}
{% block scripts %}
    <script src="/javascript/click-filas-pedido.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
{% endblock %}